html body {
    height: 100vh;
    width: 100%;
}

body {
    margin: 0;
    background-color: #747272;
}

.quizContainer {
    display: block;
    position: relative;  /* should be absol., but for now I have relative so I can see all boxes at once*/
    top: 14%;
    left: 25%;
    height: auto;
    width: 50%;
    margin: 100px!important;
    padding: 10%;
    background-color: #D6D1D1;
    text-align: center;
    border-radius: 25px;
}

#main {
    background-color: #747272;
    height: 92.5vh;
}

#header {
    background-color: #3B3B3B;
    color: #6FB43F;
    font-family: Museo Slab;
    height: 70px;
    line-height: 70px;
    text-align: center;
}

h1 {
    padding: 11px;
}

h2 {
    color: #6FB43F;
    font-family: Museo Slab;
}

p {
    color: #747272;
    font-family: Museo Slab;
}

.form-check-label {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #6FB43F;
}

.categoryRadios {
    margin: 40px;
}

#submitQ1 {
    margin-top: 30px;
}

.btn-outline-secondary{
    margin-top: 50px;
}

.errorText{
    color: red;
    font-weight: 800;
}

span{
    color: red;
    font-size: 20px;
}

.form-control{
    width: 50%;
    margin-left: 26%;

}