body {
    margin: 0;
    background-color: #214564;
    font-family: Roboto;

}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    position: absolute;
}
.quizContainer {
    display: block;
    position: relative;  /* should be absol., but for now I have relative so I can see all boxes at once*/
    top: 5%;
    left: 0%;
    height: auto;
    width: 60%;
    padding: 10%;
    background-color: #d6d1d1c9;
    text-align: center;
    border-radius: 25px;
}

.quizContainer:hover{
    background-color: #d6d1d1;
}
#main {
    background-image: url("buoy.png");
    background-size: cover;
    background-position: center;
    image: cover;
    height: 92.5vh;
    margin: 0;
}

#header {
    background-color: #3B3B3B;
    color: #6FB43F;
    font-family: "Roboto Light";
    height: 70px;
    line-height: 70px;
    text-align: center;
}

h1 {
    padding: 11px;
}

h1 a{
    text-decoration: none;
    color: #6FB43F;
}

h2, h3{
    color: #125033;
}

p {
    color: #000000;
}

.form-check-label {
    font-weight: bolder;
    color: #125033;
}

.categoryRadios {
    margin: 40px;
}

#submitQ1 {
    margin-top: 30px;
}

.btn-outline-secondary{
    margin-top: 25px;
}

.errorText{
    color: red;
    font-weight: 800;
}

span{
    color: red;
    font-size: 20px;
}

.form-control{
    width: 50%;
    margin-left: 26%;

}